body {
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.hero {
  font-size: 32px;
}

#container {
  margin: 50px;
}

.round,
.scoreboard {
  font-size: 30px;
}

input {
  margin: 50px;
  transition: transform 0.2s;
}

input:hover {
  transform: scale(1.2);
}

.footer {
  margin-top: 100px;
}
